<h3>Appointment Name: <%= @appointment.name%></h3>
<h3>With: <%= @appointment.doctor.name%></h3>
<h3>Patient: <%= @appointment.patient.name%></h3>

<h3><a href="/appointments">Go To All Appointments</a></h3>
